{#编辑信息#}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel=" stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <script src=" {% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h2 class="text-center">编辑</h2>
        <div class="col-md-8 col-md-offset-2">
            <form action="" method="post">
            <p>姓名<input type="text" class="form-control" name = "fullname" value="{{ edit_obj.fullname }}"></p>
            <p>年龄<input type="text" class="form-control" name = "age" value="{{ edit_obj.age }}"></p>
            <p>性别<input type="text" class="form-control" name = "gender" value="{{ edit_obj.gender }}"></p>
            <p>国籍<input type="text" class="form-control" name = "country" value="{{ edit_obj.country }}"></p>
            <input type="submit" class="btn btn-warning">
            </form>
        </div>
    </div>
</div>
</body>
</html>